<!DOCTYPE html>
<html>
<head>
    <title>Simple Blog App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css" type="text/css">
    <link rel="stylesheet" href="/css/blogapp.css" type="text/css">
</head>
<body>
<div class="ui inverted menu">
    <a class="item active" href="/blogposts">
        <i class="dot circle outline icon"></i>
        Blogposts
    </a>
    <a class="item" href="/blogposts/new">
        <i class="file outline icon"></i>
        New post
    </a>
    <a class="item" href="/blogposts/find">
        <i class="search icon"></i>
        Search
    </a>
    <div class="right menu">
        <a class="ui item">
            Logout
        </a>
    </div>
</div>

